{% extends 'base.html' %}
{% block title %}{{ dataset.name }} - Compare{% endblock %}
{% block body %}
    <div class="main-container-full">
        <div class="compare-title text-l">
            <a href="{{ url_for('session_overview', session_id=label_session_id) }}" class="compare-session-link text-link text-m text-orange">Back to {{ label_session.session_name }}</a>
            <span>{{ prompt }}</span>
        </div>
        <div class="compare-header">
            <div class="compare-image-info">
                <a href="{{ url_for('label_compare', label_session=label_session_id, i=previous_index) }}" class="link-button text-s" id="compare-previous">< Prev</a>
                <a href="{{ url_for('viewer', dataset=dataset.name, i=image_1_index) }}" class="text-link text-s text-gray">{{ dataset.name }} / {{ slice_1.image_name }} ({{ slice_1.slice_type.name.capitalize() }} #{{ slice_1.slice_index }})</a>
            </div>
            <div class="compare-image-info">
                <a href="{{ url_for('viewer', dataset=dataset.name, i=image_2_index) }}" class="text-link text-s text-gray">{{ dataset.name }} / {{ slice_2.image_name }} ({{ slice_2.slice_type.name.capitalize() }} #{{ slice_2.slice_index }})</a>
                <a href="{{ url_for('label_compare', label_session=label_session_id, i=next_index) }}" class="link-button text-s" id="compare-next">Next ></a>
            </div>
        </div>
        <div class="compare-container">
            <div class="compare-slice-controls">
                <div>
                    <label for="intensity-min-1" class="text-xs text-gray viewer-input-label">Min</label>
                    <input id="intensity-min-1" type="number" class="text-m viewer-number-input" size="5" value="0">
                </div>
                <div>
                    <label for="intensity-max-1" class="text-xs text-gray viewer-input-label">Max</label>
                    <input id="intensity-max-1" type="number" class="text-m viewer-number-input" value="{{ image_1_max }}">
                </div>
                <div>
                    <h3 class="text-m keymap-header">Keymap</h3>
                    <table class="keymap-table">
                        <tbody class="text-xs">
                            <tr>
                                <td>1</td>
                                <td class="text-gray">1st Slice</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="text-gray">2nd Slice</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="text-gray">Neither</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="text-gray">Not Sure</td>
                            </tr>
                            <tr><td class="keymap-space"></td></tr>
                            <tr>
                                <td>U</td>
                                <td class="text-gray">Prev.</td>
                            </tr>
                            <tr>
                                <td class="keymap-pad">Space</td>
                                <td class="text-gray">Next</td>
                            </tr>
                            <tr><td class="keymap-space"></td></tr>
                            <tr>
                                <td>E</td>
                                <td class="text-gray">-Brightness</td>
                            </tr>
                            <tr>
                                <td>R</td>
                                <td class="text-gray">+Brightness</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="compare-slices">
                <div class="compare-slice-container">
                    <img class="compare-slice" id="slice-1">
                    <div class="compare-slice-help text-m text-gray">Click or press "1" to select</div>
                </div>
                <div class="compare-slice-container">
                    <img class="compare-slice" id="slice-2">
                    <div class="compare-slice-help text-m text-gray">Click or press "2" to select</div>
                </div>
            </div>
            <div class="compare-slice-controls">
                <div>
                    <label for="intensity-min-2" class="text-xs text-gray viewer-input-label">Min</label>
                    <input id="intensity-min-2" type="number" class="text-m viewer-number-input" size="5" value="0">
                </div>
                <div>
                    <label for="intensity-max-2" class="text-xs text-gray viewer-input-label">Max</label>
                    <input id="intensity-max-2" type="number" class="text-m viewer-number-input" value="{{ image_1_max }}">
                </div>
                <div class="compare-label-controls">
                    <div class="text-s text-gray">Other Labels</div>
                    <button class="compare-label-button button text-s" id="neither-button">Neither (3)</button>
                    <button class="compare-label-button button text-s" id="not-sure-button">Not Sure (4)</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const labelSessionId = {{ label_session_id }};
        const datasetName = '{{ dataset.name }}';
        const comparisonIndex = {{ comparison_index }};
        const imageName1 = '{{ slice_1.image_name }}';
        const imageName2 = '{{ slice_2.image_name }}';
        const sliceIndex1 = '{{ slice_1.slice_index }}';
        const sliceIndex2 = '{{ slice_2.slice_index }}';
        const sliceType1 = '{{ slice_1.slice_type.name }}';
        const sliceType2 = '{{ slice_2.slice_type.name }}';
        {% if current_label_value is none %}const initialLabel = null;{% else %}const initialLabel = '{{ current_label_value }}';{% endif %}
    </script>
    <script type="text/javascript" src="/static/js/compare.js"></script>
{% endblock %}
