{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="main-container-full">
        <div class="cat-slice-title text-l">
            <a href="{{ url_for('session_overview', session_id=label_session.id) }}" class="cat-session-link text-link text-m text-orange">Back to {{ label_session.session_name }}</a>
            <span>{{ prompt }}</span>
        </div>
        <div class="cat-slice-header">
            <div>
                <a class="link-button text-s" href="{{ url_for('label_categorical_slice', label_session=label_session.id, i=previous_index) }}" id="previous-link">Prev</a>
                <a href="{{ url_for('viewer', dataset=dataset.name, image=image_slice.image_name) }}" class="cat-slice-title-info text-link text-s text-gray">{{ dataset.name }} / {{ image_slice.image_name }} ({{ image_slice.slice_type.name.capitalize() }} #{{ image_slice.slice_index }})</a>
            </div>
            <div>
                <span class="cat-slice-prompt text-m weight-medium">{{ label_session.prompt }}</span>
                <a class="link-button text-s" href="{{ url_for('label_categorical_slice', label_session=label_session.id, i=next_index) }}" id="next-link">Next</a>
            </div>
        </div>
        <div class="cat-slice-label-container">
            <div class="cat-slice-controls">
                <div>
                    <label for="intensity-min" class="text-xs text-gray viewer-input-label">Min</label>
                    <input id="intensity-min" type="number" class="intensity-control-min text-m viewer-number-input" value="0" data-for-slice="slice-img">
                </div>
                <div>
                    <label for="intensity-max" class="text-xs text-gray viewer-input-label">Max</label>
                    <input id="intensity-max" type="number" class="intensity-control-max text-m viewer-number-input" value="{{ image_max }}" data-for-slice="slice-img">
                </div>
                <br>
                <div>
                    <div class="text-xs text-gray">Threshold Multiplier</div>
                    <div class="text-m weight-medium" id="multiplier-info"></div>
                </div>
                <div>
                    <h3 class="text-m keymap-header">Keymap</h3>
                    <table class="keymap-table">
                        <tbody class="text-xs">
                            <tr>
                                <td>U</td>
                                <td class="text-gray">Prev.</td>
                            </tr>
                            <tr>
                                <td>Space</td>
                                <td class="text-gray">Next</td>
                            </tr>
                            <tr><td class="keymap-space"></td></tr>
                            <tr>
                                <td>E</td>
                                <td class="text-gray">-Brightness</td>
                            </tr>
                            <tr>
                                <td>R</td>
                                <td class="text-gray">+Brightness</td>
                            </tr>
                            <tr><td class="keymap-space"></td></tr>
                            <tr>
                                <td>1-9</td>
                                <td class="text-gray">Label</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cat-slice-slice">
                <img class="slice-img cat-slice-img" id="slice-img" data-dataset-name="{{ dataset.name }}" data-image-name="{{ image_slice.image_name }}" data-slice-index="{{ image_slice.slice_index }}" data-slice-type="{{ image_slice.slice_type.name }}" data-intensity-min="0" data-intensity-max="{{ image_max }}">
            </div>
            <div>
                <div class="timer-container">
                    <div class="text-m text-white" id="timer-display">00:00</div>
                    <button class="timer-button button btn-s text-s" id="timer-reset">Reset</button>
                </div>
                <div class="cat-slice-label-controls">
                    <div class="text-s text-gray">Labels</div>
                    {% for lv in label_session.label_values() %}
                        {% set selected = (lv == slice_label_value) %}
                        <button class="label-control button btn-fixed-m spaced text-s {% if selected %}selected{% endif %}" data-control-index="{{ loop.index0 }}" data-element-id="{{ element_id }}" data-label-value="{{ lv }}">{{ lv }} ({{ loop.index }})</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const datasetName = '{{ dataset.name }}';
        const imageName = '{{ image_slice.image_name }}';
        const sliceIndex = {{ image_slice.slice_index }};
        const sliceType = '{{ image_slice.slice_type.name }}';
    </script>
    <script type="text/javascript" src="/static/js/paginate.js"></script>
    <script type="text/javascript" src="/static/js/label.js"></script>
{% endblock %}
