{% extends 'session_overview_base.html' %}
{% block session_content %}
    {% if resume_point is not none %}
        <a href="{{ url_for('label_categorical_slice', label_session=label_session.id, i=resume_point) }}" class="session-resume-button link-button orange text-m">{{ 'Start Labeling' if resume_point == 0 else 'Resume Labeling' }}</a>
    {% endif %}
    <div class="session-content card">
        <div class="text-xl">Slices</div>
        <div class="text-m text-gray">(Click label to view)</div>
        <table class="table text-s text-gray">
            <thead>
                <tr>
                    <th></th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                {% for session_element in label_session.elements %}
                    {% set label_val = session_element.current_label_value()  %}
                    <tr>
                        <td class="align-right">{{ loop.index }}</td>
                        <td class="align-center">{{ session_element.image_1_name }}</td>
                        <td class="align-center">{{ session_element.slice_1_type.capitalize() }}</td>
                        <td class="align-center">{{ session_element.slice_1_index }}</td>
                        <td class="align-center"><a href="{{ url_for('label_categorical_slice', label_session=label_session.id, i=loop.index0) }}" class="text-gray text-link">{{ 'Unlabeled' if label_val is none else label_val }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
