{% extends 'session_overview_base.html' %}
{% block session_content %}
    <div class="text-s text-gray">{{ ', '.join(label_session.label_values()) }}</div>
    {% if resume_point is not none %}
        <a href="{{ url_for('label', label_session=label_session.id, i=resume_point) }}" class="session-resume-button link-button orange text-m">{{ 'Start Labeling' if resume_point == 0 else 'Resume Labeling' }}</a>
    {% endif %}
    <div class="session-content card">
        <div class="text-xl">Slices</div>
        <div class="text-m text-gray">(Click label to view)</div>
        <table class="table text-s text-gray">
            <thead>
                <tr>
                    <th></th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                {% for sl_labels in slice_labels %}
                    <tr>
                        <td class="align-right">{{ loop.index }}</td>
                        <td class="align-center">{{ slices[loop.index0].image_name }}</td>
                        <td class="align-center">{{ slices[loop.index0].slice_index }}</td>
                        <td class="align-center">{{ slices[loop.index0].slice_type.name.capitalize() }}</td>
                        <td class="align-center"><a href="{{ url_for('label_categorical_slice', label_session=label_session.id, i=loop.index0) }}" class="text-gray text-link">{{ sl_labels[0].label_value if sl_labels|length > 0 else 'Unlabeled' }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
