{% extends 'base.html' %}
{% block title %}{{ dataset.name }} - Label{% endblock %}
{% block body %}
    <div class="main-container-full">
        <div class="viewer-container card">
            {% if viewer_mode == 'label' %}
            <div class="text-m">
                <a href="{{ url_for('session_overview', session_id=label_session.id) }}" class="viewer-session-link text-link text-orange">Back to {{ label_session.session_name }}</a>
            </div>
            {% endif %}
            <div class="viewer-title text-m">
                <div>
                    {% if viewer_mode == 'label' %}
                    <a class="link-button text-s" href="{{ url_for('label', label_session=label_session.id, i=previous_index) }}" id="previous-link">Prev</a>
                    {% endif %}
                    <span class="viewer-title-info">
                        <a href="{{ url_for('dataset_overview', dataset_name=dataset.name) }}" class="text-link text-m hover-underline">{{ dataset.name }}</a>
                        <span>/ {{ image.name }}</span>
                    </span>
                </div>
                <div>
                    {% if viewer_mode == 'label' %}
                    <span class="viewer-prompt weight-medium">{{ prompt }}</span>
                    <a class="link-button text-s" href="{{ url_for('label', label_session=label_session.id, i=next_index) }}" id="next-link">Next</a>
                    {% endif %}
                </div>
            </div>
            <div class="viewer-content-container">
                <div class="viewer-slice-controls">
                    <div class="text-m text-gray"><span id="current-slice"></span></div>
                    <select class="viewer-select text-m" id="slice-type-select">
                        {% for st in ['SAGITTAL', 'CORONAL', 'AXIAL'] %}
                            <option value="{{ loop.index0 }}">{{ st.capitalize() }}</option>
                        {% endfor %}
                    </select>
                    <div class="viewer-input-container">
                        <label for="intensity-min" class="text-xs text-gray viewer-input-label">Min</label>
                        <input id="intensity-min" type="number" class="intensity-control-min text-m viewer-number-input" size="5" value="0" data-for-slice="slice-main,slice-side-1,slice-side-2,slice-side-3">
                    </div>
                    <div class="viewer-input-container">
                        <label for="intensity-max" class="text-xs text-gray viewer-input-label">Max</label>
                        <input id="intensity-max" type="number" class="intensity-control-max text-m viewer-number-input" value="{{ image_max }}" data-for-slice="slice-main,slice-side-1,slice-side-2,slice-side-3">
                    </div>
                    <br>
                    <div>
                        <div class="text-xs text-gray">Threshold Multiplier</div>
                        <div class="text-m weight-medium" id="multiplier-info"></div>
                    </div>
                    <div>
                        <h3 class="text-m keymap-header">Keymap</h3>
                        <table class="keymap-table">
                            <tbody class="text-xs">
                                <tr>
                                    <td>&larr;</td>
                                    <td class="text-gray">Prev. Slice</td>
                                </tr>
                                <tr>
                                    <td>&rarr;</td>
                                    <td class="text-gray">Next Slice</td>
                                </tr>
                                <tr>
                                    <td class="keymap-pad">+Shift</td>
                                    <td class="text-gray">Faster</td>
                                </tr>
                                <tr><td class="keymap-space"></td></tr>
                                <tr>
                                    <td>&uarr;</td>
                                    <td class="text-gray">Prev. Orientation</td>
                                </tr>
                                <tr>
                                    <td>&darr;</td>
                                    <td class="text-gray">Next Orientation</td>
                                </tr>
                                <tr><td class="keymap-space"></td></tr>
                                <tr>
                                    <td>U</td>
                                    <td class="text-gray">Prev. Volume</td>
                                </tr>
                                <tr>
                                    <td>Space</td>
                                    <td class="text-gray">Next Volume</td>
                                </tr>
                                <tr><td class="keymap-space"></td></tr>
                                <tr>
                                    <td>E</td>
                                    <td class="text-gray">-Brightness</td>
                                </tr>
                                <tr>
                                    <td>R</td>
                                    <td class="text-gray">+Brightness</td>
                                </tr>
                                <tr><td class="keymap-space"></td></tr>
                                <tr>
                                    <td>1-9</td>
                                    <td class="text-gray">Label</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="viewer-slices-container">
                    <div class="viewer-slice-box" id="viewer-slice-box-main">
                        <img class="slice-img viewer-slice" id="slice-main" data-dataset-name="{{ dataset.name }}" data-image-name="{{ image.name }}" data-slice-index="{{ slice_counts[0] // 2 }}" data-slice-type="SAGITTAL" data-intensity-min="0" data-intensity-max="{{ image_max }}">
                    </div>
                    <div class="viewer-slice-box" id="viewer-slice-box-side-1">
                        <div class="viewer-slice-guide-container">
                            <img class="slice-img viewer-slice" id="slice-side-1" data-dataset-name="{{ dataset.name }}" data-image-name="{{ image.name }}" data-slice-index="{{ slice_counts[0] // 2 }}" data-slice-type="SAGITTAL" data-intensity-min="0" data-intensity-max="{{ image_max }}">
                            <div class="viewer-slice-guide" id="slice-guide-1"></div>
                        </div>
                    </div>
                    <div class="viewer-slice-box" id="viewer-slice-box-side-2">
                        <div class="viewer-slice-guide-container">
                            <img class="slice-img viewer-slice" id="slice-side-2" data-dataset-name="{{ dataset.name }}" data-image-name="{{ image.name }}" data-slice-index="{{ slice_counts[1] // 2 }}" data-slice-type="CORONAL" data-intensity-min="0" data-intensity-max="{{ image_max }}">
                            <div class="viewer-slice-guide" id="slice-guide-2"></div>
                        </div>
                    </div>
                    <div class="viewer-slice-box" id="viewer-slice-box-side-3">
                        <div class="viewer-slice-guide-container">
                            <img class="slice-img viewer-slice" id="slice-side-3" data-dataset-name="{{ dataset.name }}" data-image-name="{{ image.name }}" data-slice-index="{{ slice_counts[2] // 2 }}" data-slice-type="AXIAL" data-intensity-min="0" data-intensity-max="{{ image_max }}">
                            <div class="viewer-slice-guide" id="slice-guide-3"></div>
                        </div>
                    </div>
                </div>
                <div class="viewer-label-controls">
                {% if viewer_mode == 'label' %}
                {% for lv in label_session.label_values() %}
                    {% set selected = (lv == image_label_value) %}
                    <button class="label-control button btn-fixed-l spaced text-m {% if selected %}selected{% endif %}" data-control-index="{{ loop.index0 }}" data-element-id="{{ element_id }}" data-label-value="{{ lv }}">{{ lv }} ({{ loop.index }})</button>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const sliceCounts = [{{ slice_counts[0] }}, {{ slice_counts[1] }}, {{ slice_counts[2] }}];
        const datasetName = '{{ dataset.name }}';
        const imageName = '{{ image.name }}';

        let sliceIndices = sliceCounts.map(c => Math.floor(c / 2));
    </script>
    <script type="text/javascript" src="/static/js/label.js"></script>
    <script type="text/javascript" src="/static/js/viewer.js"></script>
    {% if viewer_mode == 'label' %}
    <script type="text/javascript" src="/static/js/paginate.js"></script>
    {% endif %}
{% endblock %}
